.blackjack-table{
    background-color: green;
    border: 5px solid #663300;
    border-radius: 10px;
    margin-top: 30px;
    padding: 30px 0;
}

.card{
    height: 210px;
    background-image: url(http://philvong.co.uk/images/Reverse%20Card/Reverse%20Side.jpg);
    background-size: 100% 100%;
    box-sizing: border-box;
    margin: 1px;
    width: 16%;
}

.player-number, .dealer-number{
    text-align: center;
}

.deal, .hit, .stand, .reset, .double-down{
    width: 100%;
}

.player-actions{
    margin-top: 20px;
}

.hit{
    margin-bottom: 10px;
}

.container{
    margin: 0 auto;
    width: 100%;
}

.chip{
    width: 60px;
}

.wager-area{
    text-align: center;
}

.hidden{
    display: none;
}

.btn-purple{
    background-color: blueviolet;
    border-color: #702ac6;
    color: white;
}

.btn-green{
    background-color: darkgreen;
    border-color: #004000;
    color: white;
}

.btn-purple:hover{
    background-color: #6724ac;
    color: white;
}

.btn-green:hover{
    background-color: #005100;
    color: white;
}

.allIn {
    background: linear-gradient(270deg, #b40f0f, #e8f900, #44f900, #00f9e5, #0005f9, #f900b9);
    background-size: 1200% 1200%;

    -webkit-animation: AnimationName 1s ease infinite;
    -moz-animation: AnimationName 1s ease infinite;
    animation: AnimationName 1s ease infinite;

    transition: all 0.5s;

    color: white;
    width: 400px;
}

.allIn:hover{
    background: linear-gradient(270deg, #b40f0f, #e8f900, #44f900, #00f9e5, #0005f9, #f900b9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1200% 1200%;
    font-weight: bolder;
    font-size: 30px;

    -webkit-animation: AnimationName 1s ease infinite;
    -moz-animation: AnimationName 1s ease infinite;
    animation: AnimationName 1s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}